<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>783081798427-veifmd870s9bdtuc4kgp47ln4ec6s96f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.783081798427-veifmd870s9bdtuc4kgp47ln4ec6s96f</string>
	<key>API_KEY</key>
	<string>AIzaSyA89xjj561kaIB-3VT5T2vSajK8hQJPANU</string>
	<key>GCM_SENDER_ID</key>
	<string>783081798427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techcare.medlink</string>
	<key>PROJECT_ID</key>
	<string>medlink-fb159</string>
	<key>STORAGE_BUCKET</key>
	<string>medlink-fb159.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:783081798427:ios:decd0e07f51e61eb</string>
	<key>DATABASE_URL</key>
	<string>https://medlink-fb159.firebaseio.com</string>
</dict>
</plist>